.containerUser {
	margin: 0 auto;
	display: flex;
	margin-left: 1rem;
	left: 0;
	justify-content: right;

	span {
		font-size: 0.9rem;
	}
}

.iconUser {
	height: 3rem;
	border: 0px;
	border-radius: 3rem;
	width: 3rem;
	background-color: var(--gray-500);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 1rem;
}

.buttonSing {
	background-color: var(--gray-500);
	border: 0px;
	padding: 0.5rem 1.5rem;
	border-radius: 3rem;
	height: 3rem;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;

	span {
		color: var(--white);
	}
	svg {
		width: 20px;
		height: 20px;
		&:first-child {
			margin-right: 1rem;
		}

		&:last-child {
			margin-left: 1rem;
		}
	}

	transition: filter 0.2s;
	&:hover {
		filter: brightness(0.9);
	}
}
@keyframes animationMenu {
	0% {
		opacity: 0;
		margin-top: -3rem;
	}
	50% {
		opacity: 1;
		margin-top: 4rem;
	}
	100% {
		opacity: 1;
	}
}
@keyframes animationMenuClose {
	0% {
		opacity: 1;
	}

	50% {
		margin-top: 4rem;
	}
	100% {
		opacity: 0;
		margin-top: -3rem;
	}
}
.containerMenu {
	position: absolute;
	margin-top: 3.5rem;
	padding: 1rem;
	display: flex;
	border-radius: 1rem;
	background-color: var(--gray-500);
	animation-name: animationMenu;
	animation-duration: 0.8s;

	ul {
		li {
			list-style: none;
			padding: 1rem;
			line-height: 1rem;
			color: var(--gray-400);
			&:hover {
				color: var(--white);
			}
		}
	}
}
.containerMenuClose {
	@extend .containerMenu;
	animation-name: animationMenuClose;
	animation-duration: 0.8s;
	display: none;
}
